<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="23644DavidMWilliams.60secondRPG" Publisher="CN=11712B07-8253-4020-8E01-F2CED65453BE" Version="1.1.0.1" />
  <Properties>
    <DisplayName>60 second RPG</DisplayName>
    <PublisherDisplayName>David M Williams</PublisherDisplayName>
    <Logo>Assets\logo50.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="_60s_RPG.App">
      <m2:VisualElements DisplayName="60 second RPG" Square150x150Logo="Assets\logo150.png" Square30x30Logo="Assets\logo30.png" Description="Love role playing games but short on time? 60 second RPG is the game for you! Cut-down, simple choices, simple graphics, simple gameplay - have an RPG session in your downtime, while waiting for the bus, on a boring teleconference, waiting at the Doctor ..." ForegroundText="dark" BackgroundColor="#FFFFFF" ToastCapable="false">
        <m2:DefaultTile ShortName="60 second RPG" DefaultSize="square150x150Logo" Square310x310Logo="Assets\logo310.png" Wide310x150Logo="Assets\logo310x150.png" Square70x70Logo="Assets\logo70.png">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
            <m2:ShowOn Tile="wide310x150Logo" />
            <m2:ShowOn Tile="square310x310Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\logo620x300.png" BackgroundColor="#FFFFFF" />
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="landscape" />
        </m2:InitialRotationPreference>
      </m2:VisualElements>
    </Application>
  </Applications>
</Package>